[Unit]
Description=Object Tracker Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/objecttracker
ExecStart=/usr/local/bin/objecttracker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target