[Unit]
Description=Object Tracker Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/objecttracker
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=objecttracker

[Install]
WantedBy=multi-user.target